<Html {RightToLeft}>
  <Head>
    <meta http-equiv="Content-Type" content="text/html; charset={CharacterSet}" >

    <style type="text/css">
    <!-- 
    body
    {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-style:normal; font-variant:normal; font-weight:normal; font-size:80%; font-family:verdana, arial, sans-serif; background-position-y:center
    }
    .size11 {
            font-size: 11px;
    }
    .minitype {font-size: 9px}
    .greendis {
            font-size: 11px;
            color: 00ff00;
    }
    .redneg {
            font-size: 11px;
            color: #FF0000;
    }
    .blueinc {
            font-size: 11px;
            color: 0000FF;
    }
    .blackreg {
            font-size: 11px;
            color: #000000;
    }
    .style2 {font-size: 12px}

    -->
    </style>

    <script src="js/Chart.js"></script>

    <script type="text/javascript">

      var barChartData = 
      {
        {BarChartData}
      };

      function loadCharts()
      {
        if (document.getElementById("divChartData").style.display == "inline-block")
        {
          var ctx = document.getElementById("itemType-chart-area").getContext("2d");
          window.barChart = new Chart(ctx).Bar(barChartData);
        }
      }

    </script>

    <title>{Literal}AccuPOS Item Types Report{/Literal}</title>
  </Head>


<Body onLoad="loadCharts();">
<div align="center"><br>
<span class="size11"><strong>{Literal}Sales by Item Types Report{/Literal}</strong></span><br>
  <br>
</div>
<div align="center">
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><div align="center"><span class="size11"><strong>{CompanyName}</strong></span><span class="size11"><br>
{CompanyAddress1} {CompanyAddress2}<br>
{CompanyCity}, {CompanyState}&nbsp;{CompanyZip}</span></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><div align="center"><span class="size11"><strong>{Range}</strong><br>
        {Literal}Report was run on{/Literal}</span><span class="size11"> {DateRun}</span></div></td>
    </tr>
  </table>
</div>

<div align="center">
  <div align="center" id="divChartData" style="{ShowChartData}">
    <hr align="center" width="630" size="1">
    <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="630" align="center" valign="top" >
        
          <div id="canvas-holder">
            <canvas id="itemType-chart-area" width="630" height="300"/>
          </div>
        
        </td>
      </tr>
    </table>
  </div>
</div>

<span class="style2">{ItemTypeBlock}</span>
<hr align="center" width="630" size="1">
<div align="center">
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="630" colspan="4" valign="top" class="size11">{Literal}Item Type:{/Literal} <strong>{ItemType}</strong></td>
    </tr>
  </table>
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="100"><img src="images/spacer.aci" width="40" height="12"></td>
      <td width="100"><img src="images/spacer.aci" width="145" height="12"></td>
      <td width="120"><img src="images/spacer.aci" width="245" height="1"></td>
      <td width="240"><img src="images/spacer.aci" width="100" height="1"></td>
      <td width="170"><img src="images/spacer.aci" width="100" height="1"></td>
    </tr>
    <tr>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11"><strong>{Literal}Item:{/Literal}</strong></td>
      <td valign="top" class="size11"><div ><strong>{Literal}Description:{/Literal}</strong></div></td>
      <td valign="top" class="size11"><div ><strong>{Literal}Quantity:{/Literal}</strong></div></td>
      <td valign="top" class="size11"><strong>{Literal}Amount:{/Literal}</strong></td>
    </tr>
    <tr>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11"><img src="images/spacer.aci" width="145" height="8"></td>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11"></td>
    </tr>
  </table>
  {LineItemsBlock}
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="40"><img src="images/spacer.aci" width="40" height="1"></td>
      <td width="145"><img src="images/spacer.aci" width="145" height="1"></td>
      <td width="145"><img src="images/spacer.aci" width="245" height="1"></td>
      <td width="100"><img src="images/spacer.aci" width="100" height="1"></td>
      <td width="300"><img src="images/spacer.aci" width="100" height="1"></td>
    </tr>
  
    <tr>
      <td valign="top" class="size11">&nbsp;</td>
      <td valign="top" class="size11"><div >{ItemCode}</div></td>
      <td valign="top" class="size11"><div >{ItemDescription}</div></td>
      <td valign="top" class="size11"><div >{Quantity}</div></td>
      <td valign="top" class="size11"><div >
        <table width="40" border="0"  cellpadding="0" cellspacing="0">
          <tr>
            <td class="size11"><div align="right">{Amount}</div></td>
            </tr>
        </table>
      </div></td>
    </tr>
  </table>
{/LineItemsBlock}<br>
<table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100"><img src="images/spacer.aci" width="145" height="10"></td>
    <td width="120"><img src="images/spacer.aci" width="145" height="1"></td>
    <td width="240"><img src="images/spacer.aci" width="240" height="1"></td>
    <td width="170"><img src="images/spacer.aci" width="100" height="1"></td>
  </tr>
  <tr>
    <td valign="top" class="size11">&nbsp;</td>
    <td valign="top" class="size11"><div align="left"></div></td>
    <td valign="top" class="size11"><div align="right">{Literal}Total for{/Literal} {ItemType}:&nbsp;</div></td>
    <td valign="top" class="size11"><strong>{ItemTypeTotal}</strong></td>
  </tr>
</table>
</div>
<span class="style2">{/ItemTypeBlock}</span>
<div align="center">
  <hr align="center" width="630" size="3" noshade>
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="630" colspan="6" valign="top" class="size11"></td>
    </tr>
    <tr>
      <td colspan="6" valign="top" class="size11"><div align="right"><strong><strong>{Literal}REPORT TOTAL:{/Literal} <strong>{ReportTotal}</strong></strong></div></td>
    </tr>
  </table>
</div>
<hr align="center" width="630" size="3" noshade>
<div align="center"><span class="minitype">Powered bey AccuPOS Point Of Sale&nbsp;rev02</span></div>
</Body>
</Html>
{DateFormat}MM-dd-yy HH:mm{/DateFormat}
{CurrencyFormat}#####0.00;-#####0.00{/CurrencyFormat}
{PriceFormat}#####0.0000;-#####0.0000{/PriceFormat}
{QuantityFormat}#####0.000;-#####0.000{/QuantityFormat}
{Errors}
