<Html {RightToLeft}>
  <Head>
    <meta http-equiv="Content-Type" content="text/html; charset={CharacterSet}" >

    <style type="text/css">
      <!--
      body {
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
        font-style:normal; font-variant:normal; font-weight:normal; font-size:80%; font-family:verdana, arial, sans-serif; background-position-y:center
      }
      .size11 {
        font-size: 11px;
      }
      .minitype {font-size: 9px}
      .greendis {
        font-size: 11px;
        color: 00ff00;
      }
      .redneg {
        font-size: 11px;
        color: #FF0000;
      }
      .blueinc {
        font-size: 11px;
        color: 0000FF;
      }
      .blackreg {
        font-size: 11px;
        color: #000000;
      }


      -->
    </style>

    <script src="js/Chart.js"></script>

    <script type="text/javascript">

      var barChartData =
        {
        {BarChartData}
      };

      function loadCharts()
      {
        if (document.getElementById("divChartData").style.display == "inline-block")
        {
          var ctx = document.getElementById("byHour-chart-area").getContext("2d");
          window.barChart = new Chart(ctx).Bar(barChartData);
        }
      }

    </script>

    <title>{Literal}Sales by Hour per Day Report{/Literal}</title>

  </Head>

  <Body onLoad="loadCharts();">
    <div align="center"><br>
      <span class="size11"><strong>{Literal}Sales by Hour per Day Report{/Literal}</strong></span><br>
      <br>
    </div>
    <div align="center">
      <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><div align="center"><span class="size11"><strong>{CompanyName}</strong></span><span class="size11"><br>
                {CompanyAddress1} {CompanyAddress2}<br>
                {CompanyCity}, {CompanyState}&nbsp;{CompanyZip}</span></div></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><div align="center"><span class="size11">        <span class="style4 style2"><strong>{Range}</strong></span> <br>
                {Literal}Report was run on{/Literal}</span><span class="size11"> {DateRun}</span></div></td>
        </tr>
      </table>
    </div>

    <div align="center">
      <div align="center" id="divChartData" style="{ShowChartData}">
        <hr align="center" width="740" size="1">
        <table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="740" align="center" valign="top" >

              <div id="canvas-holder">
                <canvas id="byHour-chart-area" width="740" height="300"/>
              </div>

            </td>
          </tr>
        </table>
      </div>
    </div>
		
    <hr align="center" width="740" size="1">
		<hr align="center" width="740" size="2" noshade>

    <div align="center">
      <table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="9"><img src="images/spacer.aci" height="5"></td>
        </tr>
        <tr>
          <td colspan="9" style="text-align: center; font-weight: bold;">Sales Per Hour Per Day</td>
        </tr>
        <tr>
          <td width="11%" valign="top" class="size11" style="text-align: right; font-weight: bold;">Hour of<br>the Day</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Mon</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Tue</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Wed</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Thu</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Fri</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Sat</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Sun</td>
          <td width="12%" valign="top" class="size11" style="text-align: right; font-weight: bold;">Total for<br>the Hour</td>
        </tr>
      </table>

			<hr align="center" width="740" size="2" noshade>

      {HourBlock}
      <table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="11%" valign="top" class="size11" style="text-align: right;">{Hour}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{MonAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{TueAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{WedAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{ThuAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{FriAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{SatAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{SunAmount}</td>
          <td width="12%" valign="top" class="size11" style="text-align: right;">{HourTotal}</td>
        </tr>
        <tr>
          <td colspan="9" style="border-bottom:1pt solid #ccc"><img src="images/spacer.aci" height="3"></td>
        </tr>
      </table>
      {/HourBlock}
    
			<hr align="center" width="740" size="2" noshade>

      <table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="9"><img src="images/spacer.aci" height="5"></td>
        </tr>
        <tr>
          <td colspan="9" style="text-align: center; font-weight: bold;">Average Sales Per Hour Per Day ({ReportDays})</td>
        </tr>
        <tr>
          <td width="11%" valign="top" class="size11" style="text-align: right; font-weight: bold;">Hour of<br>the Day</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Mon</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Tue</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Wed</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Thu</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Fri</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Sat</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right; font-weight: bold;">Sun</td>
          <td width="12%" valign="top" class="size11" style="text-align: right; font-weight: bold;">Total for<br>the Hour</td>
        </tr>
      </table>

			<hr align="center" width="740" size="2" noshade>

      {HourAverageBlock}
      <table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="11%" valign="top" class="size11" style="text-align: right;">{HourAverage}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{MonAverageAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{TueAverageAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{WedAverageAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{ThuAverageAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{FriAverageAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{SatAverageAmount}</td>
          <td width="11%" valign="bottom" class="size11" style="text-align: right;">{SunAverageAmount}</td>
          <td width="12%" valign="top" class="size11" style="text-align: right;">{HourAverageTotal}</td>
        </tr>
        <tr>
          <td colspan="9" style="border-bottom:1pt solid #ccc"><img src="images/spacer.aci" height="3"></td>
        </tr>
      </table>
      {/HourAverageBlock}

    </div>
    
    <div align="center" style="margin-top: 5px;"><span class="minitype">&nbsp;&nbsp;Powered by AccuPOS Point Of Sale&nbsp;rev04</span></div>
  </Body>
</Html>

{DateFormat}MM-dd-yy HH:mm{/DateFormat}
{DayFormat}MM-dd-yy{/DayFormat}
{HourFormat}hh a{/HourFormat}
{CurrencyFormat}#####0.00;-#####0.00{/CurrencyFormat}
{PriceFormat}#####0.0000;-#####0.0000{/PriceFormat}
{QuantityFormat}#####0.000;-#####0.000{/QuantityFormat}
{Errors}
