<div id="employees-wrapper" <%= (App.rtl ? 'style="direction:rtl"' : '') %> >
    <div class="row">
        <% _.each(employees, function(employee) { %>
            <div class="col s12 m3 xl2">
                <div class="card-panel card-panel-entity z-depth-1 sequence-card hoverable waves-effect waves-light white"
                    data-id="<%= employee.id %>" data-selected='0' style="padding-top: 5px !important;">
                    <div>
                        <% if (employee.isPosUser) { %>
                            <% if (employee.isEmployee) { %>
                                <div class="row itemDescription truncate" style="font-size: .95rem; margin-bottom: 0px; color: gray;">
                                        {Literal}POS User + Employee{/Literal}
                                </div>
                            <% } %>
                        <% } %>

                        <% if (employee.isPosUser) { %>
                            <% if (!employee.isEmployee) { %>
                                <div class="row itemDescription truncate" style="font-size: .95rem; margin-bottom: 0px; color: gray;">
                                        {Literal}POS User{/Literal}
                                </div>
                            <% } %>
                        <% } %>

                        <% if (!employee.isPosUser) { %>
                            <% if (employee.isEmployee) { %>
                                <div class="row itemDescription truncate" style="font-size: .95rem; margin-bottom: 0px; color: gray;">
                                        {Literal}Employee{/Literal}
                                </div>
                            <% } %>
                        <% } %>

                        <% if (employee.name != "") { %>
                            <div class="row description truncate" style="color: #3970b7;">
                                <%= employee.name %>
                            </div>
                        <% } %>

                        <% if (employee.name == "") { %>
                            <div class="row description truncate" style="color: #3970b7;">
                                <%= employee.posUserId %>
                            </div>
                        <% } %>

                        <% if (employee.group != "") { %>
                            <div class="row till truncate" style="font-size: .95rem; color: gray; margin-bottom: 0px;">
                                {Literal}User Group{/Literal}: <%= employee.group %>
                            </div>
                        <% } %>
                        <% if (employee.group == "") { %>
                            <div class="row till truncate" style="font-size: .95rem; color: gray; margin-bottom: 0px;">
                                {Literal}User Group: N/A{/Literal}
                            </div>
                        <% } %>
                        <BR>
                        <div class="row till truncate" style="font-size: .95rem; color: gray;">
                            {Literal}Current Hours{/Literal}: <%= employee.currentHours %>
                        </div>

                        <div class="edit" style="display: none">
                            <a href="javascript:void(0)" class="btn-floating editButton btn-large waves-effect waves-light ap-dark-blue edit-employee-trigger"
                                data-id="<%= employee.id %>">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<div id="employees-form-modal" class="modal modal-fixed-footer employees-form-modal" style="max-height: 100%">

</div>

<a href="javascript:void(0)" id="add-employee-button" class="btn-floating btn-large waves-effect waves-light ap-blue z-depth-4 floating-action-button-fixed">
    <i class="material-icons">add</i>
</a>