<div id="units-of-measure-wrapper" <%= (App.rtl ? 'style="direction:rtl"' : '') %>>
    <div class="row">
        <% _.each(unitsOfMeasure, function(unitsOfMeasure) { %>
            <div class="col s12 m3 xl2">
                <div class="card-panel card-panel-entity z-depth-1 sequence-card hoverable waves-effect waves-light " style="background-color: #ffffff" data-id="<%= unitsOfMeasure.id %>" data-selected='0'>
                    <div>
                        <div class="row description truncate" style="color: #3970b7;">
                            <%= unitsOfMeasure.itemDescription %>
                        </div>
                        <div class="row truncate" style="font-size: .95rem; margin-bottom: 0px; color: gray;">
                            {Literal}Measured by{/Literal}: <%= unitsOfMeasure.quantity %>
                        </div>
                        <div class="row truncate" style="font-size: .95rem; margin-bottom: 0px; color: gray;">
                            {Literal}of this item{/Literal}: <%= unitsOfMeasure.stockingItemDescription %>
                        </div>
                    </div>
                    <br>

                    <div class="edit" style="display: none">
                        <a href="javascript:void(0)" class="btn-floating btn-large waves-effect waves-light ap-dark-blue edit-units-of-measure-trigger"
                            data-id="<%= unitsOfMeasure.id %>">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
        
<div id="units-of-measure-form-modal" class="modal modal-fixed-footer units-of-measure-form-modal" style="max-height: 100%">
    
</div>

<a href="javascript:void(0)" id="add-units-of-measure-button" class="btn-floating btn-large waves-effect waves-light ap-blue z-depth-4 floating-action-button-fixed " >
    <i class="material-icons">add</i>
</a>