<Html {RightToLeft}>
  <Head>
    <meta http-equiv="Content-Type" content="text/html; charset={CharacterSet}" >

    <style type="text/css">
      <!--
      body {
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
        font-style:normal; font-variant:normal; font-weight:normal; font-size:80%; font-family:verdana, arial, sans-serif; background-position-y:center
      }
      .size11 {
        font-size: 11px;
      }
      .minitype {font-size: 9px}
      .greendis {
        font-size: 11px;
        color: 00ff00;
      }
      .redneg {
        font-size: 11px;
        color: #FF0000;
      }
      .blueinc {
        font-size: 11px;
        color: 0000FF;
      }
      .blackreg {
        font-size: 11px;
        color: #000000;
      }


      -->
    </style>

    <script src="js/Chart.js"></script>

    <script type="text/javascript">

      var barChartData =
        {
        {BarChartData}
      };

      function loadCharts()
      {
        if (document.getElementById("divChartData").style.display == "inline-block")
        {
          var ctx = document.getElementById("byUser-chart-area").getContext("2d");
          window.barChart = new Chart(ctx).Bar(barChartData);
        }
      }

    </script>

    <title>{Literal}AccuPOS Comps Report{/Literal}</title>
  </Head>

  <Body onLoad="loadCharts();">
    <div align="center"><br>
      <span class="size11"><strong>{Literal}Comps by User Report{/Literal}</strong></span><br>
      <br>
    </div>
    <div align="center">
      <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><div align="center"><span class="size11"><strong>{CompanyName}</strong></span><span class="size11"><br>
                {CompanyAddress1} {CompanyAddress2}<br>
                {CompanyCity}, {CompanyState}&nbsp;{CompanyZip}</span></div></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><div align="center"><span class="size11">        <span class="style4 style2"><strong>{Range}</strong></span> <br>
                {Literal}Report was run on{/Literal}</span><span class="size11"> {DateRun}</span></div></td>
        </tr>
      </table>
    </div>

    <div align="center">
      <div align="center" id="divChartData" style="{ShowChartData}">
        <hr align="center" width="630" size="1">
        <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="630" align="center" valign="top" >

              <div id="canvas-holder">
                <canvas id="byUser-chart-area" width="630" height="300"/>
              </div>

            </td>
          </tr>
        </table>
      </div>
    </div>

    <hr align="center" width="630" size="1">

    {ServerBlock}
    {CompReasonBlock}

    <div align="center">
      <table width="618" height="15" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="438" class="size11">{Literal}Total for{/Literal} {CompReason}:</td>
          <td width="180"><div align="right"><span class="size11">{CompReasonTotal}</span></div></td>
        </tr>
      </table>
    </div>
    <p>{/CompReasonBlock}</p>
    <table width="617" height="17" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="409"><div align="right">{Literal}Server:{/Literal}</div></td>
        <td width="80">{Server}</td>
        <td width="128"><div align="right">&nbsp; <strong>{ServerTotal}</strong></div></td>
      </tr>
    </table>

    <hr align="center" width="630" size="1">
    <p> {/ServerBlock} </p>

    <div align="center">
      <center>
      </center>
    </div>

    <div align="center"><span class="minitype">&nbsp;&nbsp;{Literal}Powered by AccuPOS Point Of Sale rev04{/Literal}</span></div>
  </Body>
</Html>

{DateFormat}yyyy-MM-dd HH:mm{/DateFormat}
{CurrencyFormat}#####0.00;-#####0.00{/CurrencyFormat}
{PriceFormat}#####0.0000;-#####0.0000{/PriceFormat}
{QuantityFormat}#####0.000;-#####0.000{/QuantityFormat}
{Errors}
