<Html {RightToLeft}>
<meta http-equiv="Content-Type" content="text/html; charset={CharacterSet}" >

<style type="text/css">
<!-- 
body
{
background-color: #FFFFFF;
margin: 0;
padding: 0;
font-style:normal; font-variant:normal; font-weight:normal; font-size:80%; font-family:verdana, arial, sans-serif; background-position-y:center
}
.size11 {
	font-size: 11px;
}
.minitype {font-size: 9px}
.greendis {
	font-size: 11px;
	color: 00ff00;
}
.redneg {
	font-size: 11px;
	color: #FF0000;
}
.blueinc {
	font-size: 11px;
	color: 0000FF;
}
.blackreg {
	font-size: 11px;
	color: #000000;
}
.style2 {font-size: 12px}

-->
</style>

<title>{Literal}AccuPOS Item Types by User Report{/Literal}</title><Body>
<div align="center"><br>
  <span class="size11"><strong>{Literal}Item Types by User Report{/Literal}</strong></span><br>
  <br>
</div>
<div align="center">
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><div align="center"><span class="size11"><strong>{CompanyName}</strong></span><span class="size11"><br>
{CompanyAddress1} {CompanyAddress2}<br>
{CompanyCity}, {CompanyState}&nbsp;{CompanyZip}</span></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><div align="center"><span class="size11"><strong>{Range}</strong><br>
        {Literal}Report was run on{/Literal}</span><span class="size11"> {DateRun}</span></div></td>
    </tr>
  </table>
</div>
{HourBlock}
<hr align="center" width="630" size="1">
<div align="center">
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="100"><img src="images/spacer.aci" width="40" height="12"></td>
      <td width="100"><img src="images/spacer.aci" width="145" height="12"></td>
      <td width="120"><img src="images/spacer.aci" width="245" height="1"></td>
      <td width="240"><img src="images/spacer.aci" width="100" height="1"></td>
      <td width="170"><img src="images/spacer.aci" width="100" height="1"></td>
    </tr>
    <tr>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11"><strong>{Literal}Day:{/Literal}</strong></td>
      <td valign="top" class="size11"><strong>{Literal}Hour:{/Literal}</strong></td>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11"></td>
    </tr>
    <tr>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11">{Day}</td>
      <td valign="top" class="size11"><div >{Hour}</div></td>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11"></td>
    </tr>
  </table>
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="100"><img src="images/spacer.aci" width="40" height="12"></td>
      <td width="100"><img src="images/spacer.aci" width="145" height="12"></td>
      <td width="120"><img src="images/spacer.aci" width="245" height="1"></td>
      <td width="240"><img src="images/spacer.aci" width="100" height="1"></td>
      <td width="170"><img src="images/spacer.aci" width="100" height="1"></td>
    </tr>
    <tr>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11"><strong>{Literal}Top Item:{/Literal}</strong></td>
      <td valign="top" class="size11"><strong>{Literal}Quantity:{/Literal}</strong></td>
      <td valign="top" class="size11"><strong>{Literal}Total:{/Literal}</strong></td>
      <td valign="top" class="size11"></td>
    </tr>
  </table>
{TopItemBlock}
  <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="100"><img src="images/spacer.aci" width="40" height="1"></td>
      <td width="100"><img src="images/spacer.aci" width="145" height="1"></td>
      <td width="120"><img src="images/spacer.aci" width="245" height="1"></td>
      <td width="240"><img src="images/spacer.aci" width="100" height="1"></td>
      <td width="170"><img src="images/spacer.aci" width="100" height="1"></td>
    </tr>

    <tr>
      <td valign="top" class="size11"></td>
      <td valign="top" class="size11">{TopItemCode}</td>
      <td valign="top" class="size11"><div >{TopItemQuantity}</div></td>
      <td colspan="2" valign="top" class="size11">{TopItemTotal}</td>
    </tr>
  </table>
{/TopItemBlock}
<table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100"><img src="images/spacer.aci" width="40" height="12"></td>
    <td width="100"><img src="images/spacer.aci" width="145" height="12"></td>
    <td width="120"><img src="images/spacer.aci" width="245" height="1"></td>
    <td width="240"><img src="images/spacer.aci" width="100" height="1"></td>
    <td width="170"><img src="images/spacer.aci" width="100" height="1"></td>
  </tr>
  <tr>
    <td valign="top" class="size11"></td>
    <td valign="top" class="size11">&nbsp;</td>
    <td valign="top" class="size11">&nbsp;</td>
    <td valign="top" class="size11"><div align="right"><strong>{Literal}Total:{/Literal}&nbsp;</strong></div></td>
    <td valign="top" class="size11"><strong>{HourTotal}</strong></td>
  </tr>
</table>
</div>
{/HourBlock}
<hr align="center" width="630" size="1" noshade>
<div align="center"><span class="minitype">&nbsp;&nbsp;&nbsp;{Literal}Powered by AccuPOS Point Of Sale rev02{/Literal}</span></div>
</Body>
</Html>
{DateFormat}MM-dd-yy HH:mm{/DateFormat}
{DayFormat}MM-dd-yy{/DayFormat}
{HourFormat}hh a{/HourFormat}
{CurrencyFormat}#####0.00;-#####0.00{/CurrencyFormat}
{PriceFormat}#####0.0000;-#####0.0000{/PriceFormat}
{QuantityFormat}#####0.000;-#####0.000{/QuantityFormat}
{Errors}
